av==10.0.0
black==22.10.0
colorama==0.4.3
coremltools==6.3.0
coverage==7.2.3
decord==0.6.0
docutils==0.15.2
fairscale==0.4.13
fairseq==0.12.2
ftfy==6.1.1
fvcore==0.1.5.post20221221
librosa==0.8.1
matplotlib==3.7.1
numba==0.56.4
numpy==1.21.2
omegaconf==2.0.6
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
packaging==21.3
Pillow==9.5.0
Pillow-SIMD==9.0.0.post1
psutil==5.9.4
pyarrow==8.0.0
pybase64==1.2.3
pycocotools==2.0.6
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.2
pytorchvideo==0.1.5
scikit-learn==1.2.2
scipy==1.10.1
Sphinx==5.3.0
sphinx-rtd-theme==1.2.0
tensorboard==2.12.0
tensorboard-logger==0.1.0
tensorboardX==2.6
torch==1.13.0
torchaudio==0.13.0
torchdata==0.5.0
torchtext==0.14.0
torchvision==0.14.0
tqdm==4.65.0
ujson==5.7.0
